openapi: 3.0.4
info:
  title: UUID Generator
  description: >-
    UUID Generator is a tool for generating Universally Unique Identifiers
    (UUIDs). It creates RFC 4122 version 4 UUIDs with multiple formatting
    options for different platform requirements.
  termsOfService: https://apiverve.com/terms/
  contact:
    name: APIVerve Support
    email: hello@apiverve.com
    url: https://apiverve.com/contact
  version: 1.0.0
externalDocs:
  description: Learn more about APIVerve
  url: https://docs.apiverve.com?utm_source=openapi
servers:
  - url: https://api.apiverve.com/
paths:
  /v1/uuidgenerator:
    get:
      summary: Generate UUID
      description: Generate one or more RFC 4122 version 4 UUIDs
      operationId: uuidgenerator
      parameters:
        - name: count
          in: query
          schema:
            type: integer
          required: false
          description: Number of UUIDs to generate
          example: 5
        - name: version
          in: query
          schema:
            type: integer
          required: false
          description: UUID version (only version 4 currently supported)
          example: 4
        - name: format
          in: query
          schema:
            type: string
          required: false
          description: Output format
          example: default
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    type: string
                    description: status
                  error:
                    type: string
                    description: error
                  data:
                    type: object
                    description: data
              example:
                status: ok
                error: null
                data:
                  uuids:
                    - fd874c4e-4fc2-4a65-ab1e-46c7a141c3c3
                    - 59f31559-dd12-46ff-a3d1-d7bd5eddb09b
                    - f09b5f16-1b68-4082-acbc-38ce08de2fe4
                    - c8c1b3d8-e927-43a7-840c-ced3964ca95f
                    - aa3cb61e-096f-46fa-a12c-5f2b696186fb
                  count: 5
                  version: 4
                  format: default
                  variant: RFC 4122
        '401':
          description: Your request was not authorized, or your API Key was invalid
        '404':
          description: Requested resource was not found
        '500':
          description: A server error has occurred, try again later
components:
  securitySchemes:
    api_key:
      type: apiKey
      name: x-api-key
      in: header
security:
  - api_key: []
